@page "/aboutus"
<div class="container-fluid overflow- ">
    <div class="card text-bg-dark border-0">
        <img src="https://img.freepik.com/free-photo/close-up-pill-bottle-spills-reflecting-addiction-generated-by-ai_188544-19968.jpg?t=st=1701610849~exp=1701614449~hmac=4f57fa668d35bb5d1f80ecbbd332cf660b036d62f0feb2db09d301e81b7aca65&w=1060" 
        class="card-img" style="height:700px; object-fit: cover;">
        <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
            <h5 class="card-title " style=" color:white;font-size: 60px; font-weight: bold;">About Pharmacy</h5>
            <p class="card-text" style=" color:white; font-size: 40px; font-weight: bold;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 lg-4 mb-4">
            <div class="card" style="height:150px;border-block:double ">
                <div class="card-body">
                    <h1 class="card-title" style="font-size:22px"><i class="fas fa-info-circle"></i> About Us</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-md-4 lg-4 mb-4">
            <div class="card" style="height:150px; border-block:double">
                <div class="card-body">
                    <h1 class="card-title" style="font-size:22px"><i class="fas fa-map-marker-alt"></i> Location</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-md-4 lg-4 mb-4">
            <div class="card" style="height:150px; border-block:double">
                <div class="card-body">
                    <h1 class="card-title" style="font-size:22px"><i class="fas fa-envelope"></i> Contact Us</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
        </div>
    </div>
</div>