@page "/inventory"

<section class="content">


    <div class="content-header">
        <h5 class="text-seconadry " style=" font-size: 40px; font-weight: bold;">Inventory</h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-2 col-sm-12 ">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h5>List of Medicines</h5>
                        <p>See Record</p>
                        <i class="fas fa-list " style="color:black;"></i>
                    </div>
                    <a href="/medicinerecord" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-2 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h5>Medicine Shortage</h5>
                        <p>See items</p>
                        <i class="fas fa-circle " style="color:black;"></i>
                    </div>
                    <a href="/medicineshortage" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-xs-2 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h5>Add New Medicine</h5>
                        <p>Add Item</p>
                        <i class="fas fa-circle " style="color:black;"></i>
                    </div>
                    <a href="/add_medicine_record" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}

