@page "/medicineshortage"
@attribute [Authorize(Roles = "Admin,User")]

<div class="container-fluid">
    <div class="row justify-content-center pt-5">
        <div class="col sm-4 md-4">
            <table class="table table-bordered table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Medicine Name</th>
                        <th scope="col">Quantity Left</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Panadol <i class="fas fa-pills ml-2"></i></td>
                        <td>3 <i class="fas fa-flask ml-2"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Brufen <i class="fas fa-pills ml-2"></i></td>
                        <td>2 <i class="fas fa-flask ml-2"></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Azomax <i class="fas fa-pills ml-2"></i></td>
                        <td>1 <i class="fas fa-flask ml-2"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


