@page "/login"
@layout NavLayout

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm


<head>
    <style>

        body, html {
            overflow: hidden;
        }


        .background-image {
            height: 100vh;
            position: relative;
            overflow: hidden !important
        }


        .card {
            background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (fourth parameter) to set the transparency */
            border-radius: 1rem;
        }

        .background-image::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('/background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(5px);
            z-index: -1; /* Place it behind the other content */
        }

        .custom-card-shadow {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        }
    </style>
    <title>Blurred Background Image</title>
</head>

<body>

    <section class="vh-30 background-image  ">
        <div class="container py-5 vh-30">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-10">
                    <div class="card shadow  bg-body rounded border border-danger " style="border-radius: 1rem; ">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="/dist/img/Pharmacy.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-lg-5 text-black">


                                    <form>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3"></i>
                                            <div class="d-flex justify-content-center align-content-center">
                                                <span class="h1 fw-bold mb-0"> <span style="color:red">DIGI</span>PHARMA</span>
                                            </div><span class="badge bg-secondary">Admin</span>
                                        </div>

                                        <h3 class="fw-normal mb-3 pb-3 justify-content-center align-content-center " style="letter-spacing: 1px;"><b>find, book, and <span style="color:red">celebrate</span> with us!</b></h3>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Email address</label>
                                            <input type="email" id="form2Example17" placeholder="Enter Email" class="form-control form-control-lg border border-danger" @bind="Username" />

                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Password</label>
                                            <input type="password" id="form2Example27" placeholder="Enter Password" class="form-control form-control-lg border border-danger" @bind=Password />

                                        </div>





                                        <div class="pt-1 mb-4 mt-2">
                                            <div class="d-flex justify-content-center align-content-center">
                                                <button style="width: 166px;height: 35px;" type="button" class="btn btn-danger" @onclick="Authenticate">
                                                    <h6>LOGIN</h6>
                                                </button>
                                            </div>
                                        </div>



                                        <div class="pt-1 mt-2">
                                            <div class="d-flex justify-content-center align-content-center">
                                                <button style="width: 166px;height: 35px;" type="button" class="btn btn-danger">
                                                    <a href="/registration" style="text-decoration:none"> <h6 class="fw-bolder" style="color:white">Register</h6> </a>


                                                </button>
                                            </div>
                                        </div>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>


@code {

    protected EntRegistration _Model { get; set; } = new EntRegistration();

    private string? Username { get; set; }
    private string? Password { get; set; }
    bool check = false;
    private string? pharmacyId { get; set; }
    public string? Message { get; set; }
    private async Task Authenticate()
    {
        _Model = DALCRUD.GetUserByName(Username);

        if (_Model != null && _Model.Password != null && _Model.Password == Password)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(new UserSession
                {
                    UserId = _Model.pk_pharmacyId, // Use the appropriate property from your model
                    UserName = _Model.Username, // Use the appropriate property from your model
                    Role = _Model.Role, // Use the appropriate property from your model
                    PharmacyName=_Model.PharmacyName
                });

            // Once the authentication state has been updated, navigate to the desired location
            nm.NavigateTo("/dashboard", forceLoad: true);
        }
        else
        {
            check = true;
            Message = "Invalid UserName and Password ! ";
        }
    }


}