﻿<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Image Uploading......</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please Wait for Upload an Image</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color:green !important;color:white;" data-bs-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>
